[functions]
directory = "netlify/functions"

[build]
command = "npm install"
functions = "netlify/functions"
publish = "public"

[[redirects]]
from = "/api/tests/*"
to = "/.netlify/functions/tests"
status = 200

[[redirects]]
from = "/api/users/*"
to = "/.netlify/functions/users"
status = 200

[[redirects]]
from = "/api/users"
to = "/.netlify/functions/users"
status = 200

[[redirects]]
from = "/api/tests"
to = "/.netlify/functions/tests"
status = 200
